* {
	box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}

body {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.todo-list_container {
    width: 100%;
    padding: 0 20px 15px 20px;
    text-align: center;
}

#todo-list_headerField {
    position: -webkit-sticky;
    position: sticky;
    z-index: 997;
    top: 0;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfbfb;
}

h1 {
    font-family: "Gothic A1", sans-serif;
    margin: 4px 0;
}

#addButton {
    position: relative;
    width: 95%;
    height: 35px;
    border: none;
    background-color: #ff8039;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}

#addButton span {
    display: block;
    width: 2px;
    height: 15px;
    background-color: #fbfbfb;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
#addButton span:last-child {
    transform: translate(-50%,-50%) rotate(-90deg);
}

/* .hidden {
    visibility: hidden;
    pointer-events: none;
} */

#todo-list {
    width: 95%;
    list-style: none;
    margin: 5px;
    padding: 0;
    text-align: left;
}

.todo-item {
    /* position: relative;
    display: flex;
    align-items: flex-start; */

    margin: 10px 0;

    overflow: hidden;
    /* transition: transform 0.3s ease; */
}

.todo-item.complete {
    text-decoration: line-through;
    color: rgb(155, 155, 155);
}

.todo-item.complete .checkbox {
    background-color: #ff8039;
}

.todo-item.complete .checkbox::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    transform: translate(-1px, -2px) rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.todo-item_container {
    position: relative;
}

.deleteButton {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 8px;
    font-weight: 500;
    text-transform: uppercase;

    background-color: red;
    text-align: right;
    right: 0;
    flex-direction: row-reverse;
    border: none;
    /* margin-left: 10px;
    margin-top: 8px; */
    /* visibility: hidden; */
}

.swipe-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fbfbfb;
    z-index: 2;
    user-select: none;
}

.checkbox {
    width: 18px;
    height: 18px;
    background-color: #afb0b1;
    margin-right: 8px;
    margin-top: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contentField {
    /* position: relative; */
    width: 100%;
    font-family: sans-serif;
}

.todoInput {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
}

.todo-content {
    margin-top: 9px;
    margin-bottom: 5px;
    align-content: center;

    display: inline-block;
    white-space: pre-wrap;
    word-break: break-word;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
    display: none;
}

#bottomSheet {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    max-height: 170px;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: bottom 0.5s ease;
    align-items: center;
    z-index: 999;
}

#bottomSheet_handle {
    position: absolute;
    top: 0;
    width: 18%;
    height: 5px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

#bottomSheet_content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 6% 20px 6%;
}

#bottomSheet_content .optionButton {
    flex: 1;
    width: 45%;
    height: 70px;
    background-color: rgb(240, 240, 240);
    margin: 0 8px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bottomSheet_content .optionButton i {
    font-size: 20px;
}

#bottomSheet_content .optionButton .fa-pen-to-square {
    color: hsl(231, 100%, 53%);
}

#bottomSheet_content .optionButton .fa-calendar {
    color: #ff1c1c;
}

#bottomSheet_content .optionButton span {
    font-size: 14px;
    margin-top: 8px;
}

#dueDateForm {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#dueDateForm h2 {
    margin: 4px 0;
}

#dueDateForm input {
    margin: 8px 0;
    height: 30px;
    width: 80%;
    align-self: center;
}

#dueDateForm #dueDateSetButton {
    width: 25%;
    height: 35px;
    background-color: rgb(240, 240, 240);
    margin-top: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    padding: 0;
    background-color: #ffc3a1;
    font-weight: 700;
}